* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-style: normal;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1150px;
}
.main_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}
.main_info {
  padding: 40px 32px 196px 96px;
}
.main_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #333333;
  margin-bottom: 15px;
}
.main_descr {
  font-weight: 400;
  font-size: 1rem;
  line-height: 28px;
  color: #333333;
  margin-bottom: 30px;
}
.main_btn {
  padding: 20px 40px;
  border: 1px solid #0079c8;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 28px;
  color: #0079c8;
}

/* ****************************************************** */
.copy {
  max-width: 766px;
  margin-bottom: 72px;
}
.copy_title {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 28px;
  margin-bottom: 15px;

  color: #333333;
}
.copy_descr {
  font-weight: 400;
  font-size: 1rem;
  line-height: 27px;
  margin-bottom: 33px;
}
.copy_img {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

@media (max-width: 1000px) {
  .main_container {
    flex-direction: column;
    max-width: 548px;
  }
  img {
    margin: 0 auto;
  }
  .main_info {
    padding: 40px 32px 100px 32px;
  }
  .copy {
    max-width: 548px;
  }
  .copy_img {
    flex-direction: column;
  }
  .copy_img img {
    padding: 20px;
  }
}
