* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-style: normal;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1150px;
}
.main_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}
.main_info {
  padding: 40px 32px 196px 96px;
}
.main_title {
  font-weight: 500;
  font-size: 1, 25rem;
  line-height: 28px;
  color: #333333;
  margin-bottom: 15px;
}
.main_img {
  max-width: 100%;
}
.main_descr {
  font-weight: 400;
  font-size: 1rem;
  line-height: 28px;
  color: #333333;
  margin-bottom: 30px;
}
.main_btn {
  padding: 20px 40px;
  border: 1px solid #0079c8;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 28px;
  color: #0079c8;
}

/* ****************************************************** */
.copy {
  max-width: 766px;
  margin-bottom: 72px;
}
.copy_title {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 28px;
  margin-bottom: 15px;

  color: #333333;
}
.copy_descr {
  font-weight: 400;
  font-size: 1rem;
  line-height: 27px;
  margin-bottom: 33px;
}
.copy_img {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.copy_img img {
  width: 233px;
  height: 300px;
}

.component {
  width: 927px;
  margin: 0 auto;
  background: #0079c8;
  border-radius: 4px;
  padding: 40px 30px;
  margin-bottom: 100px;
}
.component_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 20px;
}
.component-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #0079c8;
  padding: 20px 38px;
  background-color: #fff;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.component_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.component-text {
  font-weight: 500;
  font-size: 35px;
  line-height: 44px;
  color: #ffffff;
  max-width: 483px;
}
/* ************************************************************ */
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1230px;
  margin: 0 auto;
}
.card-item {
  display: flex;
  width: 343px;
  flex-direction: column;
  margin-bottom: 100px;
}
.card_img {
  margin-bottom: 32px;
}
.card_title {
  font-weight: 700;
  font-size: 1.05rem;
  line-height: 23px;
  text-transform: uppercase;
  color: #312e2e;
  margin-bottom: 28px;
}
.card_text {
  font-weight: 400;
  font-size: 1.05rem;
  line-height: 26px;
  color: #5c5c5c;
  margin-bottom: 52px;
  width: 360px;
}
span {
  width: 343px;
  height: 1px;
  background-color: #b3b3b3;
  margin-bottom: 28px;
}
.card_link {
  color: #4343ff;
  font-size: 1rem;
  line-height: 19px;
  font-weight: 900;
}

@media (max-width: 1000px) {
  .main_container {
    flex-direction: column;
    max-width: 548px;
  }
  img {
    margin: 0 auto;
    width: 100%;
  }
  .main_info {
    padding: 40px 32px 100px 32px;
  }
  .copy {
    max-width: 548px;
  }
  .copy_img {
    flex-direction: column;
  }
  .copy_img img {
    padding: 20px;
    width: 100%;
    height: 100%;
  }
  .component {
    text-align: center;
    width: 100vw;
  }
  .component_content {
    flex-direction: column;
  }
  .component-text {
    margin-bottom: 20px;
  }
}
